:root {
    --mainBlack: #1E1E1E;
    --mainRed: #DD3C4C;
    --mainBlue: #226CFF;
    --borderRed: #80102B;
    --borderBlue: #2A3CA6;
    --mainBrown: #B6795E;
}

#main {
    position: absolute; left: 0; top: 0;
    width: 1920px; height: 1080px;
    background-image: url("static/background.png");
    background-size: cover;
    overflow: hidden;
    font-family: "Spline Sans Mono", monospace;
    font-weight: 400;
}

/* Helper Classes */
.mainRedColour { color: var(--mainRed); }
.splineSansMonoRegularFontSize15LineSize20 {
    font-size: 0.9375rem;
    line-height: 20px;
}

/* Chat Display Section */
#chatDisplayContainer {
    transition: 500ms ease-in-out;
    opacity: 1;
}
.leftChat { color: var(--mainRed); }
.rightChat { color: var(--mainBlue); }
.botChat { color: #6F4244; }
.unknownChat { color: purple; }
/* Chat Display Image */
#chatDisplayImage {
    position: absolute; 
    z-index: 1;
    width: 530px; height: 374px;
}
/* Chat Display Container */
#chatDisplay {
    position: absolute; left: 60px; top: 52px;
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-size: 1.25rem;
    z-index: 2;
    width: 410px; height: 220px;
    overflow-y: scroll;
}
#chatDisplay::-webkit-scrollbar { display: none; }
.chatMessageContainer {
    position: relative;
    z-index: 2;
    display: flex;
}
.chatUser {
    width: 130px;
    margin-right: 20px;
    text-align: right;
}
.chatMessage {
    width: 260px;
}

/* Now Playing Section */
#nowPlayingSection {
    position: absolute; left: 31px; top: 433px;
    width: 287.81px;
    color: var(--mainBlack);
}
#trianglePaperTop {
    position: relative; top: 8px;
    margin-left: -8px;
    width: 304px; height: 9px;
}
#trianglePaperBottom {
    position: relative; top: -8px;
    margin-left: -8px;
    width: 304px; height: 9px;
    rotate: -180deg;
}
/* Paper receipt section */
/* Width is calculated with a width of 40px for paperReceiptSectionSongNameDifficulty */
#paperReceiptSection {
    position: relative;
    background-color: white;
    width: inherit; height: 483px;
}
/* Paper Receipt Lines */
#paperReceiptFullLineTop {
    position: absolute; left: 50%; top: 10px;
    transform: translateX(-50%);
    width: 260px;
}
#paperReceiptFullLineBottom {
    position: absolute; left: 50%; top: 53px;
    transform: translateX(-50%);
    width: 260px;
}
#paperReceiptHalfLineLeft {
    position: absolute; left: 14px; top: 107px;
    width: 85px;
}
#paperReceiptHalfLineRight {
    position: absolute; right: 14px; top: 107px;
    width: 85px;
}
/* Paper Receipt Section Pick Texts */
.paperReceiptSectionPickTexts {
    position: absolute; top: 18px;
    font-size: 1.25rem;
}
#paperReceiptSectionPickText {
    left: 23px;
}
#paperReceiptSectionPickerText { right: 23px; }
/* New Items Text*/
#paperReceiptSectionNewItemsText {
    position: absolute; left: 50%; top: 99px;
    transform: translateX(-50%);
    font-size: 0.8125rem;
}
/* Blac bars */
.paperReceiptSectionBlackBar {
    position: absolute; left: 50%;
    transform: translateX(-50%);
    height: 30px;
    background-color: var(--mainBlack);
}
#paperReceiptSectionBelowInformation { 
    width: 260px;
    top: 325px; 
}
#paperReceiptSectionMod {
    width: 230px;
    left: 50%; top: 125px;
    color: white;
    font-family: "Spline Sans Mono", monospace;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 30px;
    padding-left: 30px;
}
/* Difficulty */
#paperReceiptSectionSongNameDifficulty {
    position: absolute; left: 50%; top: 163px;
    transform: translateX(-50%);
    width: 242px;
}
/* Top is calculated with a width of 40px for paperReceiptSectionSongNameDifficulty */
#paperReceiptStats {
    position: absolute; left: 50%; top: 194px;
    transform: translateX(-50%);
    width: 242px;
    list-style-type: none;
    padding-left: 0;
}
/* Fairy Bread Bakeoff */
#paperReceiptSectionTournamentNameText {
    position: absolute; left: 50%; top: 362px;
    transform: translateX(-50%);
    width: 250px;
}

/* Coffee */
#coffeeImage {
    position: absolute; left: -300.57px; top: 619.43px;
    width: 718.15px; height: 718.15px
}

/* Gameplay Section */
#gameplayRed1Section { position: absolute; left: 350px; top: 45px;}
#gameplayRed2Section { position: absolute; left: 970px; top: 45px;}
#gameplayBlue1Section { position: absolute; left: 350px; top: 556px; }
#gameplayBlue2Section { position: absolute; left: 970px; top: 556px; }
/* Gameplay Screen */
.gameplayScreen {
    width: 600px; height: 450px;
    background-color: #00FF1E;
    border-radius: 40px;
}
/* Lives Section */
/* 209px is the width for 4 lives. */
/* 165px is the width for 3 lives. */
.gameplayLivesContainer {
    position: absolute; left: 50%; top: 409px;
    transform: translateX(-50%);
    width: 209px;
}
.gameplayLivesContainerSection {
    position: absolute; 
    border: 7px solid;
    border-radius: 15px;
    width: 209px; height: 57px;
}
.gameplayLivesContainerFront {
    top: 0;
    z-index: 1;
    border: 7px solid;
    background-color: #FFF6E8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gameplayLivesContainerBack {
    top: 7px;
    z-index: 0;
}
.gameplayLivesContainerBorderRed { border-color: var(--borderRed); }
.gameplayLivesContainerBorderBlue { border-color: var(--borderBlue); }
.gameplayLivesContainerFront > * { margin: 0 6px; }

/* Playing Scores */
#playingScores {
    position: absolute; right: 300px; top: 55px;
    opacity: 1;
    transition: 500ms ease-in-out;
}
#playingScores > * { 
    position: absolute;
    width: 300px; height: 100px; 
    border-radius: 10px 0 0 10px;
    transition: 200ms ease-in-out;
}
.redTeam { background-color: #fabdc3; }
.blueTeam { background-color: #84c4ff; }
#playScreen1 { top: 0; }
#playScreen2 { top: 110px; }
#playScreen3 { top: 220px; }
#playScreen4 { top: 330px; }
/* Playing screen profile pictures */
.playScreenProfilePicture {
    position: absolute; top: 10px; left: 10px;
    width: 80px; height: 80px;
    border-radius: 10px;
}
/* Play screen name */
.playScreenName {
    position: absolute; top: 15px; left: 100px;
    font-size: 1.1rem;
    width: 190px;
    text-wrap: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
/* Play Screen Score */
.playScreenScore {
    position: absolute; bottom: 15px; left: 100px;
    font-size: 2rem;
}

/* Mappool Menu */
#mappoolMenu {
    position: absolute; right: 0; bottom: 0;
}

/* Side bar */
#sideBar {
    position: absolute; left: 1920px; top: 0;
    width: 250px; height: 1080px;
    background-color: var(--mainBrown);
    color: white;
}
#livesSection {
    margin-left: 10px;
}
h1 {
    font-family: "Spline Sans Mono", monospace;
    font-weight: 400;
}
#livesSectionButton {
    margin-left: 10px;
    width: 210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#livesSectionButton > * {
    width: 100px; height: 50px;
    font-size: 1.2em;
    margin-bottom: 10px;
    background-color: transparent;
    color: white;
}
#livesSectionButton > *:active {
    background-color: black;
    color: var(--mainBrown);
}