:root {
    --teamInformationLeft: 60px;
    --redTeamInformationTop: 60px;
    --blueTeamInformationTop: 374px;
    --mainTextDarkRed: #4A1C29;
    --mainDarkRed: #80102B;
    --mainDarkBlue: #2A3CA6;
    --mainTextMappoolColour: #300E00;
}

#main {
    position: absolute; left: 0; top: 0;
    width: 1920px; height: 1080px;
    background-image: url("static/background.png");
    background-size: cover;
}

/* Team Background */
.teamBackground {
    position: absolute; left: var(--teamInformationLeft);
    width: 495.65px; height: 317.65px;
}
#redTeamBackground { top: var(--redTeamInformationTop); }
#blueTeamBackground { top: var(--blueTeamInformationTop); }
/* Team Information */
.teamInformation { position: absolute; left: var(--teamInformationLeft); }
#redTeamInformation { top: var(--redTeamInformationTop); }
#blueTeamInformation { top: var(--blueTeamInformationTop); }
/* Team Name */
.teamName {
    position: absolute; left: 54px; top: 40px;
    white-space: nowrap;
    color: var(--mainDarkRed);
    font-family: "Pacifico";
    font-weight: 400;
    font-size: 2rem;
}
#redTeamName { color: var(--mainDarkRed); }
#blueTeamName { color: var(--mainDarkBlue); }
/* Team Players */
.teamPlayers {
    position: absolute; left: 52px; top: 98px;
    width: 416px; height: 94px;
    display: flex;
    flex-wrap: wrap;
}
/* Team Player Container */
.teamPlayerContainer {
    width: 208px;
    height: 50px;
    display: flex;
}
/* Team Player Profile */
.teamPlayerProfile {
    border: 2px solid;
    width: 40px; height: 40px;
    border-radius: 7px;
    background-size: cover;
    background-image: url("https://a.ppy.sh/8306102")
}
.redTeamPlayerProfile { border-color: var(--mainDarkRed); }
.blueTeamPlayerProfile { border-color: var(--mainDarkBlue); }
/* Team Player Name */
.teamPlayerName {
    margin-left: 8px;
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    line-height: 42px;
    color: var(--mainTextDarkRed);
    font-size: 20px;
}

/* Lives */
.livesContainer {
    position: absolute; left: 54px; top: 208px;
    height: 53px;
    display: flex;
}
.slotImage { margin-right: 10px; }
.slotLivesIndividualContainer {
    display: flex;
    height: 35px;
    align-self: center;
    margin-right: 31px;
}
.slotLivesIndividualContainer > * { margin-right: 5px; }

/* Menu Background */
#menuBackground {
    position: absolute; left: 600px; top: 20px;
    width: 1160px; height: 1060px;
}

/* Columns */
#mappoolSectionColumn1 {
    position: absolute; left: 770px; top: 226px;
    display: flex;
    flex-direction: column;
}
#mappoolSectionColumn2 {
    position: absolute; left: 1065px; top: 226px;
    display: flex;
    flex-direction: column;
}
#mappoolSectionColumn3 {
    position: absolute; left: 1360px; top: 226px;
    display: flex;
    flex-direction: column;
}

/* Mod Section */
.modSection { width: 241px; }
/* Mod Text */
.modText {
    font-family: "Pacifico";
    font-weight: 400;
    font-size: 2rem;
}
#noModText { color: var(--mainDarkBlue); }
#hiddenText { color: #D3925E; }
#hardRockText { color: var(--mainDarkRed); }
#doubleTimeText { color: #662AA6; }
#freemodText { color: #15723C; }
#tiebreakerText { color: var(--mainTextMappoolColour); }
/* Map Information */
.mapInformation {
    margin-top: -5px;
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
    font-family: "Patrick Hand";
    font-weight: 400;   
    color: var(--mainTextMappoolColour);
}
.mapTextSongName, .mapStarInformation {
    line-height: 22px;
    font-size: 1.25rem;
}
.mapTextDifficultyName, .mapTextAristName { font-size: 0.9375rem; }
.mapTextAristName { line-height: 1rem; }
/* Tiebreaker Border */
#tiebreakerSection {
    position: relative;
}
#tiebreakerBorder {
    position: absolute; left: -24px; top: 30px;
    width: 282px; height: 117px;
    border: 4px solid #6F4244;
    border-radius: 30px;
    z-index: 0;
}
#tiebreakerText {
    position: relative; z-index: 1;
    background-color: rgb(255, 246, 232);
    width: 153px;
}