:root {
    --mainReceiptWidth: 742px;
    --topSectionWidth: 616px;
    --receiptLineWidth: 674px;
    --mainMapSectionWidth: 616px;
}

/* Main Page */
#main {
    position: absolute; left: 0; top: 0;
    width: 1920px; height: 1080px;
    background-size: cover;
    background-image: url("static/background.png")
}

/* Performations Top */
#performationsTop {
    position: absolute; left: 1019px; top: 50px;
    width: var(--mainReceiptWidth); height: 24px; 
}
/* Main Receipt */
#mainReceipt {
    position: absolute; left: 1022px; top: 68px;
    width: 742px; height: 1128px;
    /* background-color: white; */
}
/* Title */
#title {
    position: relative; left: 62px; top: 40px;
    font-family: "Pacifico";
    font-weight: 400;
    font-size: 2.875rem;
    line-height: 64px;
}
/* Top Section */
#topSection {
    position: relative; left: calc((var(--mainReceiptWidth) - var(--topSectionWidth)) / 2); top: 60px;
    width: var(--topSectionWidth);
    display: flex;
    flex-wrap: wrap;
    font-family: "Spline Sans Mono", monospace;
    font-size: 1.25rem;
}
#topSection > * { width: calc(var(--topSectionWidth) / 2); height: 30px;}
.topSectionRight { text-align: right; }
#receiptTopLine {
    position: relative; left: calc((var(--mainReceiptWidth) - var(--receiptLineWidth)) / 2); top: 77px;
    width: var(--receiptLineWidth);
}
/* Main Section */
#mainMapSection {
    position: relative; left: calc((var(--mainReceiptWidth) - var(--mainMapSectionWidth)) / 2); top: 107px;
    width: var(--mainMapSectionWidth);
    font-family: "Spline Sans Mono", monospace;
    font-weight: 400;
    font-size: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#mainMapSection > * { margin-bottom: 11.5px; }
#mainMapSection div:nth-child(odd) {
    width: 544px;
}