:root {
    --receiptLeft: 1022px;
    --performationsLeft: 1019px;
    --mainReceiptWidth: 742px;
    --performationsWidth: 748px;
    --topSectionWidth: 616px;
    --receiptLineWidth: 674px;
    --mainMapSectionWidth: 616px;
    --qrCodeWidthHeight: 175px;
}

/* Main Page */
#main {
    position: absolute; left: 0; top: 0;
    width: 1920px; height: 1080px;
    background-size: cover;
    background-image: url("static/background.png")
}

/* Performations Top */
.performations {
    position: absolute; left: var(--performationsLeft); 
    width: var(--performationsWidth); height: 24px; 
}
#performationsTop { top: 50px; }
/* Need to add height from maintopsection onto top */
#performationsBottom {
    top: 680px;
    transform: scale(-1, -1);
}
/* Main Receipt */
/* Need to add height from maintopsection onto height */
#mainReceipt {
    position: absolute; left: var(--receiptLeft); top: 68px;
    width: 742px; height: 618.5px;
    background-color: white;
}
/* Title */
#title {
    position: relative; left: 62px; top: 40px;
    font-family: "Pacifico";
    font-weight: 400;
    font-size: 2.875rem;
    line-height: 64px;
}
/* Top Section */
#topSection {
    position: relative; left: calc((var(--mainReceiptWidth) - var(--topSectionWidth)) / 2); top: 60px;
    width: var(--topSectionWidth);
    display: flex;
    flex-wrap: wrap;
    font-family: "Spline Sans Mono", monospace;
    font-size: 1.25rem;
}
#topSection > * { width: calc(var(--topSectionWidth) / 2); height: 30px;}
.topSectionRight { text-align: right; }
#receiptTopLine {
    position: relative; left: calc((var(--mainReceiptWidth) - var(--receiptLineWidth)) / 2); top: 77px;
    width: var(--receiptLineWidth);
}
#receiptBottomLine {
    position: relative; left: calc((var(--mainReceiptWidth) - var(--receiptLineWidth)) / 2); top: 125px;
    width: var(--receiptLineWidth);
}
/* Main Section */
#mainMapSection {
    position: relative; left: calc((var(--mainReceiptWidth) - var(--mainMapSectionWidth)) / 2); top: 107px;
    width: var(--mainMapSectionWidth);
    font-family: "Spline Sans Mono", monospace;
    font-weight: 400;
    font-size: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#mainMapSection > * { margin-bottom: 11.5px; }
#mainMapSection div:nth-child(odd) {
    width: 544px;
}

/* Thanks For Playing Text */
#thanksForPlayingText {
    position: relative; top: 159px;
    width: 100%;
    text-align: center;
    font-family: "Spline Sans Mono", monospace;
    font-weight: 400;
    font-size: 1.5rem;
}

/* QR Code */
#receiptQRCode {
    position: relative; left: calc((var(--mainReceiptWidth) - var(--qrCodeWidthHeight)) / 2); top: 195px;
    width: var(--qrCodeWidthHeight); 
    height: var(--qrCodeWidthHeight);
}